<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="productGrid">
        <div id="productGrid" class="card-container">
            <div th:each="product : ${products}" class="card h-100">
                <a th:href="@{'/product/' + ${product.productId}}" class="stretched-link"></a>
                <img th:src="@{'/images/' + ${product.imagePath}}" class="card-img-top" alt="Imagen">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}">Nombre</h5>
                    <p class="card-text" th:text="${product.unitPrice}">Precio</p>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>