<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Pedidos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Mis Pedidos</h2>
        <div th:if="${orders != null}">
            <div th:each="order : ${orders}" class="card mb-3">
                <div class="card-body">
                    <p class="card-text">Estado: <span th:text="${order.status.status}"></span></p>
                    <p class="card-text">Método de Pago: <span th:text="${order.payment.paymentMethod}"></span></p>
                    <p class="card-text">Total: $<span th:text="${order.payment.amount}"></span></p>
                    
                    <!-- Display items directly within the card -->
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${order.items}">
                                    <td th:text="${item.product.name}">Nombre</td>
                                    <td th:text="${item.amount}">Cantidad</td>
                                    <td th:text="${item.amount * item.product.unitPrice}">Precio total</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${orders == null}">
            <p>Aún no has hecho ningún pedido!.</p>
        </div>
    </div>

    <!-- jQuery (required by Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Popper.js for Bootstrap (required for dropdowns and tooltips) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

    <!-- Bootstrap JS (after jQuery and Popper.js) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>